@import "../../assets/style/mixins.scss";

.modal-parent {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  .modal-back {
    overflow-y: scroll;
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 30%;
    top: 0;
    left: 0;

    @include tablet {
      background: #eeeeee;
      z-index: 1;
      height: 85vh;
      top: 0%;
      opacity: 100%;
    }
    @include mobile {
      background: #eeeeee;
      z-index: 1;
      height: 85vh;
      top: 0%;
      opacity: 100%;
    }
  }
  .modal-container {
    width: 80%;
    height: 100%;
    margin: auto;
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    .modal-content {
      z-index: 11;
      background: #eeeeee;
      width: 50%;
      height: 85%;
      position: relative;
      top: 15%;
      float: right;
      @include tablet {
        top: 16%;
        width: 100%;
        height: 84%;
      }
      @include ipad {
        top: 12%;
        width: 100%;
        height: 88%;
      }
      @include mobile {
        top: 12%;
        width: 100%;
        height: 88%;
      }
    }
  }
}
.swipe-payment {
  margin: auto 0.5em;
}
.lowest-price-banner {
  display: flex;
  width: 92%;
  margin: auto;
  background: white;
  align-items: center;
  padding: 0.5em 0.7em;
  img {
    width: 6em;
    height: 2em;
  }
  p {
    margin: 0 0.5em 0 1em;
    font: 600 14px/16px "Dosis", sans-serif;
  }
  @include large-screen {
    p {
      font-size: 26px;
    }
    img {
      width: 9em;
      height: 4em;
    }
  }
  @include tablet {
    width: 95%;
  }
  @include mobile {
    width: 95%;
  }
}
.item-final-price {
  width: 23%;
  display: flex;
  align-items: flex-end;
  height: 72%;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 15px;
  @include large-screen {
    font-size: 24px;
  }
}
.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  h4 {
    margin: 0 0 0.5em;
    letter-spacing: -0.5px;
    text-align: left;
    padding: 0;
    @include large-screen {
      font-size: 24px;
    }
  }
}
.item-quantity {
  display: flex;
  justify-content: space-around;
  width: fit-content;
  align-items: flex-end;
  .item-count {
    width: 18px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include large-screen {
    align-items: baseline;
    .item-count {
      font-size: 26px;
      line-height: 26px;
    }
  }
  @include mobile {
    .item-count {
      margin-left: 0.25em;
    }
  }
}
.icon-button {
  background-color: #d00054;
  color: white;
  border-radius: 50%;
  border: none;
  width: 1.2em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
  margin: 0 0.5em;
  @include large-screen {
    font-size: 24px;
  }
  @include tablet {
    border-radius: 3px;
    width: 1.7em;
    height: 1.4em;
    margin: 0 0.5em 0 0.25em;
  }
  @include mobile {
    border-radius: 3px;
    padding: 0 5px;
    margin: 0 0 0 0.25em;
    width: 1.7em;
    height: 1.4em;
  }
}
.times-icon {
  display: flex;
  height: fit-content;
  margin: 0 0.5em;
  font-size: 16px;
  @include large-screen {
    font-size: 30px;
  }
  @include mobile {
    width: fit-content;
    font-weight: 500;
  }
  @include tablet {
    width: fit-content;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0.5em 0 0.25em;
  }
}
.each-item {
  background-color: white;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  padding: 1em;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  .cart-item-details {
    width: 83%;
    display: flex;
    flex-direction: row;
    @include tablet {
      width: 88%;
    }
  }
  .item-image {
    width: 14%;
    height: 4em;
  }

  @include tablet {
    .item-image {
      width: 10%;
    }
    .item-detail {
      font-size: 14px;
      h4 {
        width: 95%;
      }
    }
    .item-final-price {
      justify-content: flex-end;
      width: 15%;
      height: 60%;
      align-items: flex-end;
    }
  }
  @include mobile {
    .item-image {
      width: 15%;
    }
    .item-detail {
      font-size: 14px;
      h4 {
        margin: 0 0 0.5em;
      }
    }
    .item-final-price {
      justify-content: flex-end;
      width: 15%;
      height: 100%;
      align-items: flex-end;
    }
  }
}
.cart-content {
  height: 74.5%;
  overflow: hidden;
  overflow-y: scroll;
  @include large-screen {
    height: 82%;
  }
  @include tablet {
    height: 69%;
  }
  @include mobile {
    height: 78.5%;
  }
}
.empty-cart {
  padding: 1em;
  box-sizing: border-box;
  height: 11% !important;
  button {
    width: 100%;
  }
  @include tablet {
    height: 12% !important;
    button {
      font-size: 12px !important;
    }
  }
}
.empty-content {
  background-color: white;
  overflow: hidden !important;
  height: 84% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    margin: 0;
  }
  p {
    margin: 0.5em auto;
    font: 14px/16px "Dosis", sans-serif;
  }
  @include tablet {
    h4 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
  @include large-screen {
    h4 {
      font-size: 24px;
    }
    p {
      font-size: 20px;
      font-weight: 600;
    }
  }
}

.cart-header {
  background-color: #1d2124;
  color: white;
  font: 600 16px/18px "Dosis", sans-serif;
  text-align: left;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 3%;
  align-items: center;
  @include large-screen {
    font: 600 28px/30px "Dosis", sans-serif;
    height: 2%;
  }
  p {
    margin: 0;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.1em;
  }
  span {
    font: 14px/16px "Dosis", sans-serif;
    margin: 0;
    @include large-screen {
      font: 22px/24px "Dosis", sans-serif;
    }
  }
  @include tablet {
    background-color: white;
    color: black;
    span {
      color: gray;
    }
    p {
      display: none;
    }
  }
  @include mobile {
    background-color: white;
    color: black;
    span {
      color: gray;
    }
    p {
      display: none;
    }
  }
}
.cart-payment {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  height: 16%;
  .promo-text {
    margin: 0.5em auto;
    font: 600 13px/15px "Dosis", sans-serif;
    text-align: center;
  }
  .proceed-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0.5em auto 1em;
    color: white;
    background: #d00054;
    border: none;
    p {
      display: flex;
      flex-direction: row;
    }
  }
  @include large-screen {
    height: 16%;
    .promo-text {
      font: 28px/28px "Dosis", sans-serif;
    }
    .proceed-button {
      font-size: 26px;
      p {
        padding-left: 2%;
      }
    }
  }
  @include tablet {
    height: 16%;
    .promo-text {
      margin: 0.5em auto 0;
      font: 500 14px/16px "Dosis", sans-serif;
    }
    .proceed-button {
      font-size: 11px;
    }
  }
  @include ipad {
    height: 13%;
  }
  @include small-laptops {
    height: 17%;
  }
  @include mobile {
    .promo-text {
      font: 500 12px/12px "Dosis", sans-serif;
      margin: 0.5em auto 0;
    }
    height: 13%;
    .proceed-button {
      font-size: 11px;
    }
  }
}
.item-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
.item-price {
  display: flex;
  align-items: flex-end;
  font-size: 13px;
  font-weight: 600;
  @include large-screen {
    font-size: 22px;
  }
  @include mobile {
    align-items: center;
  }
  @include tablet {
    align-items: center;
  }
}
