@import "../../assets/style/mixins.scss";
.button-container {
  background: #d00054;
  padding: 0.6em 0;
  border: none;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  font-size: 12px;
  @include mobile {
    font-size: 12px;
  }
  @include small-laptops {
    font-size: 11px;
  }
  @include large-screen {
    font-size: 22px;
  }
}
