@import "../../assets/style/mixins.scss";
.side-menu {
  width: 20%;
  background: lightgray;
  text-align: left;
  padding: 0 0 0 1%;
  box-sizing: border-box;
  .each-filter {
    border-bottom: 1px solid grey;
    padding: 1em 0;
    font: 500 14px/16px "Dosis", sans-serif;
    opacity: 80%;
    cursor: pointer;
    @include tablet {
      letter-spacing: -0.5px;
    }
    @include large-screen {
      font: 500 26px/26px "Dosis", sans-serif;
    }
  }
  @include mobile {
    display: none;
  }
}
